{
  "presets": [
    "stage-2"
  ],
  "plugins": [
    "transform-es2015-modules-commonjs",
    "async-to-promises",
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    ["babel-root-import", {
      "rootPathSuffix": "src"
    }]
  ]
}
