{
  "presets": [
    "react",
    "stage-3"
  ],
  "plugins": [
    "async-to-promises",
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    ["babel-root-import", {
      "rootPathSuffix": "src/client"
    }],
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ],
    },
    "server": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        [
          "css-modules-transform", {
            "preprocessCss": "tools/loaders/sass-loader.js",
            "generateScopedName": "[name]-[local]___[hash:base64:5]",
            "extensions": [".scss"]
          },
        ]
      ],
      "ignore": ["tools/loaders/sass-loader.js"]
    }
  }
}
